@import "tailwindcss";

@font-face {
  font-family: 'Geologica';
  src: url('@/assets/fonts/Geologica-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('@/assets/fonts/Geologica-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('@/assets/fonts/Geologica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('@/assets/fonts/Geologica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('@/assets/fonts/Geologica-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('@/assets/fonts/Geologica-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('@/assets/fonts/Geologica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('@/assets/fonts/Geologica-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('@/assets/fonts/Geologica-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@theme {
  --color-primary: #05C0E6;
}

:root {
  font-family: 'Geologica', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}